* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: black;
}

.container-fluid {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.container {
  height: 60vh;
  width: 60vh;
  margin: 0 auto;
  border-radius: 5vh;
  padding: 5vh;
  background-color: hsl(216, 12%, 8%);
}

.container .logo {
  height: 8vh;
  width: 8vh;
  border-radius: 5vh;
  display: flex;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  margin-bottom: 5vh;
}

.container .logo img {
  margin: auto;
}

.container .feedback h1 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.container .feedback p {
  font-size: 15px;
  color: hsl(216, 12%, 54%);
}

.container .rating-form .rating-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2.5vh auto;
}

.container .rating-form .rating-buttons .btn {
  margin-right: 2vh;
  height: 7vh;
  width: 7vh;
  border-radius: 4vh;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  font-weight: bold;
}

.container .rating-form .rating-buttons .btn:last-child {
  margin-right: 0;
}

.container .rating-form .rating-buttons .btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.container .rating-form .rating-buttons .btn:focus {
  background-color: hsl(217, 12%, 63%);
  box-shadow: none;
  color: hsl(0, 0%, 100%);
}

.container .rating-form .submit {
  margin-top: 1.5vh;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.container .rating-form .submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.container .rating-form .submit:focus {
  box-shadow: none;
}

.container .thankyou-logo {
  display: flex;
  justify-content: center;
}

.container .selected-rating {
  width: 30vh;
  display: flex;
  justify-content: center;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  margin: 4vh auto; 
  border-radius: 3vh;
}

.container .selected-rating p {
  margin: 0.5rem auto 0.2rem;
  font-size: 1.1em;
  align-self: center;
}

.container .thankyou {
  text-align: center;
}

.container .thankyou h1 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.container .thankyou p {
  font-size: 15px;
  color: hsl(216, 12%, 54%);
}
